* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Georgia';
  src: url("./assets/fonts/Georgia.woff") format(woff);
  ;
  font-weight: 400;
}

@font-face {
  font-family: 'Georgia';
  src: url("./assets/fonts/Georgia-Bold.woff") format(woff);
  ;
  font-weight: 700;
}

@font-face {
  font-family: 'Georgia';
  src: url("./assets/fonts/Georgia-Bold.ttf") format(ttf);
  ;
  font-weight: 700;
}

@font-face {
  font-family: 'Georgia';
  src: url("./assets/fonts/Georgia.ttf") format(ttf);
  ;
  font-weight: 400;
}

.block {
  width: 100%;
  min-height: 97vh;
  background: rgb(31, 1, 51);
  padding: 5% 0;
}

.wrapper {
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  background: indigo;
  border: 2px solid red;
}

.slider {
  height: 100%;
  width: 100%;
  border: 2px solid white;
  /* overflow: hidden;*/
}

.slider__inner {
  width: 400%;
  height: 80%;
  transition: all 0.5s linear;
  display: flex;
  flex-flow: row nowrap;
  border: 2px solid rgb(10, 168, 57);
  position: relative;
}

.slider__contents {
  width: 25%;
  height: 100%;
  border: 2px solid red;
}

.slider__contents img {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
}

.slider_and_input {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 2px solid red;
}

.wrapper_slider_Text {
  width: 55%;
  border: 2px solid rgb(10, 168, 57);
  overflow: hidden;
}

.slider__inner_Text {
  width: 400%;
  height: 5%;
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  border: 2px solid rgb(19, 2, 41);
  transition: all 0.5s linear;
}

.slider__contents_Text {
  width: 25%;
  padding: 1em 0;
}

.slider__txt {
  color: rgb(248, 244, 244);
  font-size: 1em;
  font-family: 'Georgia';
  font-weight: 400;
  letter-spacing: 0.1rem;
  margin: 0;
}

@keyframes check {
  0% {
    transform: scale(0.4);
    background: rgba(94, 4, 16, 0.7);
    box-shadow: 0 0 0 12px rgb(238, 235, 235), 0 0 0 36px rgba(241, 207, 12, 0.5);
  }

  100% {
    transform: scale(0.4);
    background: rgba(245, 239, 239, 0.7);
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(206, 228, 7, 0);
  }
}

.switchers {
  width: 40%;
  text-align: end;
}

.switcher {
  background: radial-gradient(rgba(218, 209, 209, 1) 20%, rgb(31, 1, 51) 20%);
  display: inline-block;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  margin: 1.2rem 0 0 1rem;
  border-radius: 50%;
  position: relative;
  z-index: 10;
  transition: all .2s linear;
}

.slide_img {
  /*реальные инпуты*/
  padding: 0px;
  /*visibility: hidden;*/
}

#img_1:checked~#slider__inner {
  left: 0%;
}
#img_2:active~#slider__inner {
  left: -100%;
}
#img_2:checked~#slider__inner {
  left: -100%;
}
#img_3:checked~#slider__inner {
  left: -200%;
}
#img_4:checked~#slider__inner {
  left: -300%;
}
#img_1:checked~div div #slider__inner_Text {
  left: 0%;
}
#img_2:checked~div div #slider__inner_Text {
  left: -100%;
}
#img_3:checked~div div #slider__inner_Text {
  left: -200%;
}
#img_4:checked~div div #slider__inner_Text {
  left: -300%;
}

#img_1:checked~div div #switcher1,
#img_2:checked~div div #switcher2,
#img_3:checked~div div #switcher3,
#img_4:checked~div div #switcher4 {
  background: radial-gradient(rgb(223, 238, 8) 20%, rgb(31, 1, 51) 20%);
}

.switcher:hover {
  background: radial-gradient(rgb(6, 58, 170) 20%, rgb(31, 1, 51) 20%);
}

.switcher:active {
  animation: check 1s linear forwards;
}

